@media screen and (min-width: 1px) and (max-width: 399px) {

  .articles-preview {

    .articles-date {
      padding-left: 5px;
      font-size: .8em;
    }

    .articles-export {
      max-width: 8%;
    }

    .articles-title {
      font-size: 1em;
      padding-left: 5px;
    }

    .articles-content {
      padding:    5px 0;
      font-size:  0.9em;
      max-height: 82px;
      text-indent: 5px;
    }

    .articles-categories {

      margin-top: 5px;

      .articles-categories-title {
        font-size: 0.8em;
      }

      .articles-category {

        .articles-category-name {
          font-size: .8em;
          padding:   0 1.5px;
        }

      }

    }

    .articles-tags {

      margin-top: 5px;

      .articles-tags-title {
        font-size: .8em;
      }

      .articles-tag {
        font-size:     .8em;
        margin-right:  5px;
        padding:       0 1.5px;
        margin-top:    2px;

        .articles-tag-name {

        }
        .articles-tag-name:hover {

        }

      }

    }

    .delete-icon {
      width: 22px;
    }

  }

}