.selected-tags {

  margin-top:    35px;
  margin-bottom: 5px;

  .selected-tags-title {
    display:        inline-block;
    font-size:      15px;
    text-transform: uppercase;
    margin-right:   15px;
    font-weight:    900;
    font-family:    "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace;
    color:          #99343C;
  }

  .selected-tag {
    display:          inline-block;
    color:            black;
    font-size:        13px;
    margin-right:     5px;
    background-color: #d9b46e;
    margin-bottom:    5px;
    padding:          4px;
    font-family:      "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace;
    font-weight:      lighter;

    &:hover {
      text-decoration: line-through;
      cursor:          pointer;
    }
  }
}
.action-tag {
  cursor: pointer;
  pointer-events: auto;
}
.tags-selection-controls {
  position: relative;

  .tags-list {

    padding: 3px 0;
    position: absolute;
    width: 100%;

    .tag-item-hold {

      font-size: 14px;
      padding: 3px 10px;
      margin: 0;

      &:hover, &.hovered-tag {
        background: #4f6c89;
        color: #fff9e5;
        .tag-item {
          cursor: pointer;
        }
      }

    }

  }

}