<div class="export-icons" export-icons>
    <div class="article-icon export-txt-icon"
            ng-click="exportTo('txt')"
            title="Export to TXT"
            >
        <img src="/img/export-txt.png"/>
    </div>
    <div class="article-icon export-docx-icon"
            ng-click="exportTo('docx')"
            title="Export to DOCX"
            >
        <img src="/img/export-docx.png"/>
    </div>
    <div class="article-icon export-pdf-icon"
            ng-click="exportTo('pdf')"
            title="Export to PDF"
            >
        <img src="/img/export-pdf.png"/>
    </div>
</div>