@media screen and (min-width: 1000px) {
  header {

    .header {

      height: 180px;

      .home-link {
        .left-book {
          width: 180px;
        }
      }

      .header__menu {
        display: none;
      }

    }

  }
}