@media screen and (min-width: 1000px) {

  .article-container {
    margin: map-get($articleIndents, articleTop);
    padding: 20px;

    .article-date {
      color: map-get($articleColors, dateText);
      font-size: map-get($articleSizes, dateFont);
      margin-left: 80px;
    }

    .article-categories {

      margin-left: 50px;
      margin-top: 20px;

      .article-categories-title {
        display: inline-block;
        font-size: 18px;
        font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
        text-transform: uppercase;
        margin-right: 15px;
        font-weight: 900;
      }

      .article-category {
        display: inline-block;
        font-weight: bolder;
      }

      .article-category-name {
        color: #2C2A06;
        font-size: 14px;
        font-family: monospace;
        background: #ebb97e;
        background-repeat: round;
        text-decoration: none;
        padding: 5px;
        display: inherit;
        font-weight: lighter;
      }

    }

    .article-tags {

      margin-left: 50px;
      margin-top: 20px;

      .article-tags-title {
        display: inline-block;
        font-size: 18px;
        font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
        text-transform: uppercase;
        margin-right: 15px;
        font-weight: 900;
      }

      .article-tag {
        display: inline-block;
        background: #d9b46e;
        background-repeat: round;
        font-size: 13px;
        font-weight: bolder;
        margin-right: 5px;
        padding: 8px;

        .article-tag-name {
          display: inherit;
          text-decoration: none;
          color: #2C2A06;
          font-family: monospace;
        }
        .article-tag-name:hover {
          text-decoration: none;
        }

      }

    }

    .article-title {
      margin-left: 20px;
      font-size: 2.1em;
      padding: 20px 50px 0 60px;
      font-weight: bolder;
      line-height: 1.5em;
      font-family: 'Noto Sans', sans-serif;
      color: map-get($articleColors, titleText);
    }

    .article-content {
      text-align: justify;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      padding: 20px 50px;
      text-indent: 30px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 20px;
      //    font-weight: bolder;
      line-height: 2em;
    }

  }

  .article-edit-container {
    width: 100%;
    margin-top: 30px;

    textarea {
      resize: none;
      min-height: 400px;
    }

    .text-danger {
      font-size: 14px;
      font-weight: bolder;
    }
  }

  .edit-btns {
    top: 50%;
    width: 84px;

    *:last-child {

    }

    .article-icon {

    }

  }

}