.sidebar {
  display: block;
  float: right;
  padding: 3%;
  margin-top: 15px;
  margin-right: 2%;
}

.search-wrapper {

  position: relative;

  .search-icon-wrapper {

    position: absolute;
    width: 4%;
    top: 15%;
    right: 3%;
    opacity: 0.4;

    img {
      max-width: 100%;
      vertical-align: middle;
    }

  }

}

//
.overlay-displayed {
  position: fixed;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@import './sidebar1';
@import './sidebar240';
@import './sidebar1000';